@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  transition: background-color 1s ease;
}

#dark {
  background-color: #1f1f1f;
  color: white;
}

#light .nav-burger {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 99;
}

#dark .nav-burger {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 99;
  color: white;
}

#light .nav-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

#dark .nav-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

#light .nav-link {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.08);
  background-color: rgba(243, 244, 246, 0.9);
  margin: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#dark .nav-link {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  box-shadow: 0px 8px 8px rgba(255, 255, 255, 0.2), 0px 1px 3px rgba(255, 255, 255, 0.8);
  background-color: rgba(36, 40, 44, 0.9);
  color: rgb(158, 158, 158);
  margin: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.1);
}

#light .side-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
  background-color: rgba(243, 244, 246, 0.9);
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#dark .side-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
  color: #1f1f1f;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  filter: invert();
}

.side-link:hover {
  transform: scale(1.1);
}

#light .about-img {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  overflow: hidden;
}

#dark .about-img {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1), 0px 1px 3px rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  overflow: hidden;
}

#light .custom-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #001b5e;
  margin-bottom: 1rem;
}

#dark .custom-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #90cdf4;
  margin-bottom: 1rem;
}

#light .image-with-filter {
  filter: saturate(110%);
  filter: opacity(75%)
}

#dark .image-with-filter {
  filter: opacity(75%);
  filter: brightness(0.6)
}

.main-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transform: scaleX(-1);
}

#light .main-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

#dark .main-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  max-width: 700px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#light .main-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1f1f1f;
  margin-bottom: 1rem;
}

#dark .main-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #e2e8f0;
  margin-bottom: 1rem;
}

#light .main-subtitle {
  font-size: 1.5rem;
  color: #1f1f1f;
  display: flex;
  align-items: center;
}

#dark .main-subtitle {
  font-size: 1.5rem;
  color: #e2e8f0;
  display: flex;
  align-items: center;
}

#light .main-icon {
  cursor: pointer;
  margin-right: 1rem;
  color: #1f1f1f;
  transition: color 0.3s ease;
}

#dark .main-icon {
  cursor: pointer;
  margin-right: 1rem;
  color: #e2e8f0;
  transition: color 0.3s ease;
}

#light .project-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  box-shadow: 0px 14px 18px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  overflow: hidden;
}

#dark .project-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  box-shadow: 0px 14px 18px rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  overflow: hidden;
}

.project-img {
  border-radius: 1rem;
  transition: opacity 0.3s ease;
}

.project-item:hover .project-img {
  opacity: 0.4;
}

.project-item:hover .project-details {
  display: block;
}

.project-details {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#dark .project-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 0.5rem;
}

#light .project-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #001b5e;
  text-align: center;
  margin-bottom: 0.5rem;
}

#dark .project-tech {
  color: white;
  text-align: center;
  padding-bottom: 0.5rem;
}

#light .project-tech {
  color: #001b5e;
  text-align: center;
  padding-bottom: 0.5rem;
}

#dark .project-more-info {
  font-size: 1.125rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: #1f1f1f;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

#light .project-more-info {
  font-size: 1.125rem;
  font-weight: bold;
  color: white;
  background-color: #001b5e;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}